/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1{
    padding-top: 30px;
}

p{
    font-size: 16px;
}

.section-title {
    margin: 0px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.information{
    display: flex;
    flex-direction: row;
    margin:10px;
}

.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 1px  solid var(--main-color);
    border-radius: 50%;
    margin-right: 10px;
}

h2{
color: #000;
font-size: 17px;
font-weight: 700;
}

/****** Header ***********/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 61.09px;
    height: 19px;
    padding: 15px 0px 15px 0px;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    font-size: 16px;
    font-weight: 400;
}

.bouton-nav{
    padding: 15px 0px 15px 0px;
    margin-right:15px;
    border-top:2px solid white; 
}

.bouton-nav:hover{
   border-top:2px solid var(--main-color); 
}

.actual-nav{
    color: var(--main-color);
}

/****** Form ***********/

form{
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.fa-location-dot{
    color: black;
    border: 1px var(--main-bg-color) solid;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
    padding: 17px;
}

.ville{
    border: 1px var(--main-bg-color) solid;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 14px;
}
.rechercher {
    height: 49px;
    padding: 15px 16px;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color:#FFF;
    font-size: 18px;
    font-weight: 700;
}

.fa-magnifying-glass{
    color:#FFF;
    padding: 15px 16px;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    display: none;
}

/****** Filtres ***********/

.filtres{
    display:flex;
    flex-direction: row;
}

.titre-filtre{
    margin:10px 15px 0px 0px;
    display: flex;
    align-items: center;
}

.liste-filtre{
    display: flex;
    flex-flow: row wrap;
}

.bouton-filtre{
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 0px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    margin: 10px 15px 0px 0px;
}

.bouton-filtre:hover{
    background-color: var(--filter-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin: 33px 10px 0px 0px;
}

.hebergements-cards img {
    width: 200px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filtres{
        display: flex;
        flex-direction: column;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
.main-container{
    padding: 0px;
}

header{
    flex-direction: column;
    }

.bouton-nav{
    border-bottom: 2px solid var(--main-bg-color); 
}

.bouton-nav:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid var(--main-color);
}

.rechercher{
    display: none;
}

.fa-magnifying-glass{
    display: flex;
}
}
