/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main{
    display:flex;
    flex-direction: column;
    gap:35px;
}

a {
    color: inherit;
    text-decoration: none;
}

p{
    font-size: 16px;
    margin: 0px;
}

.bold-text{
    font-size: 18px;
    font-weight: 700;  
}

.section-title {
    margin: 0px;
    font-size: 22px;
    font-weight: 700; 
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.card-subtitle{
    font-size: 14px;
    font-weight: 400;
}
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h2{
color: #000;
}

/****** Header ***********/
header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 0px;
}

nav{
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
}

.bouton-nav{
    padding: 14px 0px 15px 0px;
    margin-left:68px;
    border-top:2px solid white; 
}

.bouton-nav:hover{
   border-top:2px solid var(--main-color); 
}

.actual-nav{
    color: var(--main-color);
}

/****** Intro ***********/
.intro{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.text-intro{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.information{
    display: flex;
    flex-direction: row;
}

.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 1px  solid var(--main-color);
    border-radius: 50%;
    margin-right: 10px;
}

/****** Form ***********/

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--White, #FFF);
}

.fa-location-dot{
    color: black;
    border: 1px var(--main-bg-color) solid;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
    height: 49px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ville{
    text-align: center;
    height: 49px;
    margin: 0px;
    padding: 0px;
    border: 1px solid var(--Grey, #F2F2F2);
}
.rechercher {
    height: 49px;
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color:#FFF;
}

.fa-magnifying-glass{
    color:#FFF;
    height: 49px;
    width: 49px;
    border-radius: 15px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    display: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/****** Filtres ***********/

.filtres{
    display:flex;
    flex-direction: row;
    gap: 15px;
}

.titre-filtre{
    display: flex;
    align-items: center;
}

.liste-filtre{
    display: flex;
    flex-flow: row wrap;
    gap:15px;
}

.bouton-filtre{
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 0px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
}

.nom-filtre{
    font-size: 17px;
    font-weight: 700;
}

.bouton-filtre:hover{
    background-color: var(--filter-bg-color);
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    gap:30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding-bottom: 0px;
    gap: 4px;
    flex: 1 0 0;
}

.hebergements-cards a{
    display: flex;
    width: 30%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    box-sizing: border-box;
    padding: 0px 15px 15px 15px;
    gap: 8px;
}

.hebergements-cards .card-title {
    margin: 4px 0px 0px 0px;
}

.hebergements-cards .card-subtitle{
    margin: 8px 0px 0px 0px;
}

/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    width: 32%;
}

.populaires-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.populaires-cards a{
    display: flex;
}

.populaires-cards .card {
    display: flex;
    align-self: stretch;
}

.populaires-cards img {
    width: 33%;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités***********/
.Activités {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

.activites-cards a{
    display: flex;
    width: 100%;
}

.activites-cards .card{
    height: 439px;
    align-self: stretch;
}

.activites-cards img {
    width: 100%;
    height: 380px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content{
    display: flex;
    justify-content: flex-start;
}

.activites-cards .card-title {
    padding: 20px 19px;
    margin: 0px;
}

/****** Footer ***********/

footer{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    gap: 30px;
    padding: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin: 0px;
    padding: 0px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres{
        flex-direction: column;
        gap: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        gap: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-cards .card{
    display: flex;
    flex-direction: column;
    height: auto;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
body{
    margin: 0px;
}

.main-container{
    padding: 0px;
    min-width: 320px;
    }

header{
    flex-direction: column;
    align-items: center;
    }

nav{
    width: 100%;
}

.bouton-nav{
    display: flex;
    border-bottom: 2px solid var(--main-bg-color); 
    margin: 0px;
    width: 50%;
    justify-content: center;
}

.bouton-nav:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid var(--main-color);
}

.intro{
    padding: 0px 20px;
}

.ville{
    width: 70%;
}

.rechercher{
    display: none;
}

.fa-magnifying-glass{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres{
    gap: 20px;
}

.liste-filtre{
    gap: 10px;
}

.bouton-filtre{
    width:121px
}

.hebergements-and-populaires{
    flex-direction: column-reverse;
    padding: 0px;
    width: 100%;
    gap: 15px;
}

.hebergements-and-populaires .populaires{
    border-radius: 0px;
    padding: 30px 20px;
}

.hebergements-and-populaires .hebergements{
    background-color: white;
    border-radius: 0px;
    padding: 20px;
    gap:15px;
}

.card
{
    width: 100%;
}

.hebergements-cards{
    flex-direction: column;
    align-self: stretch;
    gap: 15px;
}

.hebergements-cards img{
    align-self: stretch;
}

.hebergements-cards a{
    width: 100%;
}

.populaires{
    gap: 15px;
}

.populaires-cards{
    flex-direction: column;
    align-self: stretch;
    gap: 15px;
}

.populaires-cards a{
    width: 100%;
}

.Activités{
    padding: 30px;
}

.activites-cards{
    flex-direction: column;
}

.activites-cards .card{
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
}

.activites-cards img{
    height: 141px;
}

footer{
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

ul{
    padding:0px;
}
}